@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
p,.blog__item-text-cmt li a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	font-size: 14px;
	letter-spacing: .2px;
}
body{
	width: 100%;
	overflow-x: hidden;
}
img{
	max-width: 100%;
}
.container{
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}
/*------------------ Create Seach_box ------------------------*/
.seach_box{
	position: fixed;
	z-index: 10000;
	visibility: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transition: all .3s ease;
}
.seach_opacity{
	z-index: -100000;
	background: black;
	width: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	bottom: 0;
	transition: all .3s ease;
}
.seach__main{
	top: -100%;
	border-radius: .3em;
	transition: all .5s ease;
	position: relative;
	padding: 2% 3%;
	display: flex;
	width: 70%;
	margin: 0 auto;
	background: white;
}
.seach{
	margin-top: 3%;
	padding: 8px 10px;
	border: 1px solid #dfe1e5;
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-radius: 1em;
	align-items: center;
}
.seach input[type=text]
{
	width: 90%;
}
.seach input:focus{border: none;}
.seach input{
	padding-left: 2%;
	outline: none;
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	box-sizing: border-box;
	padding: 2px 0;
}
.seach_close_icon{
	position: absolute;
	top: 6%;
	right: 2%;
	font-size: 16px;
	display: block;
}
.seach_close_icon i:hover{
	color: #e74c3c;
}
.seach input[type=submit]
{
	color: white;
	background: #2ecc71;
	border: 1px solid #27ae60;
}

.seach__active{	visibility: visible;}
.seach__active .seach__main{	top: 10%;}
.seach__active .seach_opacity{opacity: 20%;}
.seach__active,.seach__active .seach__main,.seach__active .seach_opacity{
	transition: all .3s ease;
}
/*-------------Create Shop cart Mini*/
.shop-fls li{
	position: relative;
}
.shop__cart__main:after{
	content: '';
	position: absolute;
	top: 0;
	right: 2%;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #dcdde1;
	margin-top: -10px;
}
.shop__cart__main{
	margin-top: 10px;
	position: absolute;
	z-index: 1000;
	opacity: 0;
	right: -10%;
	max-width: 500px;
	width: 50px;
	background: #dcdde1;
	box-sizing: border-box;
	padding: 20px 0;
	visibility: hidden;
	transition: all .5s ease;
}
.shop-fls li:hover .shop__cart__main{
	visibility: visible;
	opacity: 1;
	width: 450px;
	transition: all .5s ease;
}
.shop__cart__item{
	clear: left;
	display: flex;
	align-items: start;
	padding: 6px 10px 2px 10px;
}
.shop__cart__main .shop__cart__item:hover {
	background: white;
}
.cart__item__img,.cart__item__price,.cart__item__name{
	display: block;
	box-sizing: border-box;
	float: left;
}
.cart__item__img{	width: 15%;}
.cart__item__name{	width: 65%;}
.cart__item__name p{
	overflow: hidden;
	text-overflow: clip;
	margin-left: 5%;
}
.delete{
	display: block;
	margin-left: 5%;
	float: right;
}
.shop-fls .delete i{font-size: 16px;}

.top-menu {
	width: 100%;
	background: #222222;
	height: 46px;
	color: #525252;
	font-size: 14px;
}
.top-menu .seting-login p{ margin-left: 30px;}
.top-menu .seting-login p:first-child{ margin-left: 0px;}
.top-menu .seting-login i{	font-size: 12px;}
.header .row {
	align-items: center;
	height: 100%;
}
.container-fluid{
	max-width: 100%;
	margin: 0 30px;
	height: 100%;
}
.menu-bar .container-fluid{
	height: 80px;
}
.menu-bar{
	border-bottom: 1px solid #dddddd;
}
.main-menu li.nav-bars{	display: none;}
.right{
	float: right;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.logo a{display: flex;}
.nav-link{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	display: block;
	margin-left: -68px;
}
.nav-link li a{
	color: #000000;
}
.nav-link li:hover a{
	color: #8262b5;
}
.nav-link .main-menu li{
	line-height: 80px;
	margin-right: 51px;
}
.shop-fls{
	display: block;
}
.shop-fls .main-menu li{
	padding: 22px 0;
    margin-left: 22px;
}
.shop-fls .main-menu li:last-child{	margin-left: 0;}
.shop-fls i{
	font-size: 30px;
	margin-top: 3px;
	color: black;
}
/*Phần banner*/
.banner {
	margin: 29px 0;
}
.banner .item-baner{
	position: relative;
	display: block;
}
.item-baner-top{
	margin-top: 7%;
}
.baner-01-text{
	right: 94px;
	top: 319px;
	position: absolute;
}
.baner-01-text h2{
	font-size: 30px;
	font-family: "Pacifico";
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}
.baner-01-text a{
	float: right;
}
.baner-txt{
	position: absolute;
	z-index: 100;
}
.baner-txt h2{
	font-size: 16px;
	font-family: "Montserrat";
	font-weight: 400;
	text-transform: uppercase;
	color: #616161;
	letter-spacing: .2em;
}
h2.bold{
	font-size: 20px;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0;
}
.baner-txt-top{
	left: 57px;
	top: 86px;
}
.baner-txt-down{
	left: 39px;
	top: 121px;
}
.baner-txt-down a.show-now{
	float: left;
	margin-top: 17px;
	padding: 11px 16px;
	padding-left: 22px;
	margin-left: 1px;
}
a.show-now {

	margin-top: 12px;
	font-size: 14px;
	background: #8262b5;
	padding: 12px 16.5px;
	font-family: "Montserrat";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-weight: 400;
	text-align: center;
}

/*Phần product*/
.product-title,.blog-title{
	margin-top: 73px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Montserrat";
	margin-left: -2px;
}
.product-title p,.blog-title p{
	font-size: 12px;
	color: rgb(130, 98, 181);
	letter-spacing: .5em;
	font-family: "Montserrat";
	font-weight: bold;
}
.product-title h2,.blog-title h2{
	font-size: 24px;
	margin-top: 11px;
	font-family: "Montserrat";
	color: rgb(0, 0, 0);
	letter-spacing: .1em;
}
.product-title hr,.blog-title hr{
	background-color: rgb(130, 98, 181);
	width: 50px;
	height: 1px;
	border: none;
	margin-bottom: 50px;
	margin-top: 23px;
	margin-left: 1px;
}
.img-product,.blog-img{
	position: relative;
	display: block;
}
.img-product .add-cart{
	position: absolute;
	
	background: #ffffff;
	text-transform: uppercase;
	color: #424242;
	bottom: 9px;
	left: 5.5px;
}
.add-cart:hover span{
	color: #8262b5;
}
.add-cart span{
	display: block;
	padding: 7px 17px;
	font-family: "Montserrat";
	font-size: 12px;
	font-weight: 400;
	color: rgb(66, 66, 66);
	line-height: 2.167;
}
.product-name p{
	margin-top: 14px;
	font-size: 14px;
	font-family: "Montserrat";
	color: rgb(0, 0, 0);
	letter-spacing: -.4px;
	font-weight: 600;
}
.product-price{	margin-top: 7px}
.product-price p{
	font-size: 16px;
	color: #999999;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -.2px;
}
.product-star {
	margin-top: 8px;
	margin-left: 1px;
}
.product-star i{
	letter-spacing: -2.5px;
	font-size: 11.2px;
}
.star-true{
	color: #f8ba04;
}
.text-product{
	margin: 8px 0;
	margin-bottom: 45px;
}
.price-new{
	color: #8262b5;
	font-weight: bold;
	letter-spacing: -.3px;
}
/*Blog css*/
.blog{
	font-family: "Montserrat";
	background: url("../img/images/backgroup.png");
	margin-top: 30px; 
	height: 708px;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
}
.blog-title {
	margin: 0;
	padding-top: 79px;
	text-align: center;
	margin-left: 5px;
}
.blog-title hr{
	margin:0 auto;
	margin-bottom: 49px;
	margin-top: 24px;
}
.blog-title p{padding-left: 5px;}
.blog-date{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 60px;
	height: 60px;
	background: #a1d1dd;
	color: #ffffff;
	top: 23px;
	left: 21px;
}
.date-text{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	border: 1px solid #ffffff;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
}
.date-text h3{
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 16px;
}
.date-text p{
	font-family: 'Montserrat', sans-serif;
	margin-top: 7px;
	font-weight: 400;
	font-size: 14px;
}
.blog-img{
	/*! height: auto; */
	display: flex;
}
.blog-text{
	background: #ffffff;
}
.blog-txt{
	padding-left: 20px;
	padding-right: 25px;
	border-bottom: 1px solid rgb(237, 237, 237);
	padding-top: 17px;
	padding-bottom: 18px;
}
.blog-cmt{
	padding-left: 21px;
	display: flex;
	align-items: center;
	height: 53px;
}
.blog-cmt li {
	margin-right: 29px;
}
.blog-cmt a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: rgb(192, 192, 192);
}
.blog-txt h3{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.225;
	margin-bottom: 18px;
	letter-spacing: -.19px;
}
.blog-text h3:hover {
	color: #8262b5;
}
.blog-txt p{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(66, 66, 66);
	line-height: 1.571;
	font-weight: 400;
	text-align: left; 
	letter-spacing: .27px;
}
.blog .btn-slide{

	margin-top: 29px;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-left: 3px;
}
.blog .btn-slide li{
	padding: 0 4px;
}
span.btn{
	display: block;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #cbbfe0;
}
span.btn-active{
	width: 13px;
	height: 13px;
	background: #8262b5;
}
.col{
	display: block;
	width: 100%;
}
.col-md-3{max-width: 22.99%;
}
.stye_margin{margin-left: 2px;}
.col-md-2{max-width: 50%;}
.col-md-8{max-width:  65.7895%;
}
.col-md-4{max-width: 31.57895%;}
.main-menu li{
	display: inline-block;
}
/*phần footer*/
.footer{
	font-weight: 400;
	padding-top: 61px;
	font-family: 'Open Sans', sans-serif;
	background: #222222;
}
.footer hr{
	background: #393939;
	height: 1px;
	border: none;
	width: 100%;
	display: block;
	margin-top: 27px;
	margin-bottom: 21px;
}
.footer p,.footer i{
	font-size: 14px;
	color: #888888;
	line-height: 22px;
	letter-spacing: 0.3px;
}
.footer .shop-location i{
	float: left;
}
.shop-location p{
	margin-left: 30px;
}
.shop-location hr{
	margin-bottom: 20px;
}
.shop-location p,.shop-location i{
	line-height: 32px;
	margin-top: 1px;
	letter-spacing: 0.01em;
}
.shop-location .f-right{
	padding-right: 30px;
	padding-left: 2px;
}
.navigation p{
	margin-bottom: 8px;
}
.f-title h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #f7f7f7;
	font-size:16px;
	letter-spacing: 0.035em;
}
.footer p.f-active{
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	width: 28.5%;
}
.f-icon-about{
	
	margin-top: 42px;
	color: #828282;
}
.f-icon-about li{
	margin-right: 28px;
}
.f-icon-about i{
	font-size: 16px;
}
.f2{
	margin-top: 2px;
	margin-left: 8.5%;
}
.f-top{
	border-bottom: 1px solid #393939;
	padding-bottom: 35px;
}
i.fa-phone {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.ft{
	max-width: 262px;
}
.ft-t{
	max-width: 360px;
}
.Copyright .container{
	height: 70px;
}
.Copyright .row{
	height: 100%;
	align-items: center;
}
.footer i.fa-heart{
	color: #ff4628;
}
.coppy-bank li i{
	font-size: 21.5px;
}
.coppy-bank li{margin-left: 2px;    margin-top: -4px; }
#arrowHitech{
	color: #ffffff;
	letter-spacing: -.1px;
}
.blog__main__item{
	animation-name: fade;
	animation-duration: 1s;
	display: none;
	margin-left: -100px;
}
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
@keyframes fade {
	from {
		opacity: .4}
		to {opacity: 1;
			
		}
	}
	.show{
		display: block;
		margin-left: 0;
		width: 100%;
	}
	/*------------------Create Autocomplate---------------------*/
	#ui-id-1{
		position: fixed !important;
		list-style: none;
		background: #ffffff;
		z-index: 10000;
		width: 450px !important;
	}
	#ui-id-1 li{

		line-height: 35px;
	}
	.ui-menu-item-wrapper{
		padding-left: 15px;	
	}
	.ui-state-active{
		font-size: 17px;
		background: #3399FF;
		color: #ffffff;
	}